{% extends 'base.html' %}
{% load static %}
{% block content %}      
        
        <!-- message alert -->
        {% if messages %}
        {% for message in messages %}
        <div style="margin-top: 1rem;" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>    
        {% endfor %}
        {% endif %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="product-list">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>PRODUCT</th>
                                            <th>PRODUCT CODE</th>
                                            <th>PRICE</th>
                                            <th>QUANTITY</th>
                                            <th>TOTAL</th>
                                            <th>REMOVE</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <!-- getting values from foreign key too -->
                                        {% for cart in order.items.all %} 
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{{cart.item.get_url}}"><img src="{{cart.item.image.url}}" alt="Image"></a>
                                                    <p>{{cart.item.title}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                {{cart.item.item_code}}
                                            </td>
                                            {% if cart.item.discounted_price > 0 %}
                                            <td>${{cart.item.discounted_price}}</td>
                                            {% else %}
                                            <td>${{cart.item.price}}</td>
                                            {% endif%}
                                            <td>
                                                <div class="qty">
                                                    <!-- if the function is in cart model, no need to add .item  -->
                                                    <a href="{{cart.delete_single_cart_url}}"><button class="btn-minus"><i class="fa fa-minus"></i></button></a>
                                                    <input type="text" value="{{cart.quantity}}">
                                                    <a href="{{cart.item.get_cart_url}}"><button class="btn-plus"><i class="fa fa-plus"></i></button></a>
                                                </div>
                                            </td>
                                            <td>${{cart.get_final_price}}</td>
                                            <td><a href="{{cart.delete_cart_url}}"><button style="background-color: crimson;"><i class="fa fa-trash"></i></button></a></td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="8" style="color: crimson; font-weight: bold;font-size: 20px;">Your Cart is empty</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="coupon">
                                        <input type="text" placeholder="Coupon Code">
                                        <button>Apply Code</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            {% if order.get_cart_total %}
                                            <h1>CART SUMMARY</h1>
                                            <p>Sub Total<span>${{order.get_sub_total}}</span></p>
                                            <p>Shipping Cost<span>$5</span></p>

                                            <h2>Grand Total<span>${{order.get_cart_total}}</span></h2>
                                            
                                        </div>
                                        <div class="cart-btn">
                                            <a href="product-list"><button style="width: 165px;margin-right:5px;">Continue Shopping</button></a>
                                            
                                            <a href="checkout" ><button style="margin-right:5px; background:  #002D62">Checkout</button></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
{% endblock %}
